body{
  font-size: 14px;
}  
.header{
    background-Color: rgb(250, 250, 250);
    color: #fafafa;
    top: 0;
    height: 15%;
    width: 100%;
    margins:0;
    box-shadow: 10px 10px 5px #888888;

}
.dataContainer{
  padding:20px;
}

.logoinfoDna{
  margin-left: 134px;
}

.headerLinks{
  text-transform: uppercase;
  display: block;
  padding: 30px 0px;
  text-align: center;
  color: #277285;
  -webkit-transition: all ease-in 2s;
  transition: all ease-in 0.5s;
}
.headerLinks:hover{
  background-color: white;
}
.dataContainer {
  box-shadow: 0 2px 2px 0 black, 0 0 2px 0 black;
  height:'40%';
  
};
.proList{
    margin-top: 7%;
    width: 100%;
    text-align: center;
    border:1px solid #e3e9fc;
    border-collapse: collapse;
    font-family:  Georgia, serif;
font-weight:400;
}
.proList>thead>tr>th{
   text-align: center;
   border:1px solid #e3e9fc;
   padding: 0px;
   vertical-align: middle;

}
.proList>tbody>tr>td{
   text-align: center;
   border: 1px solid #e3e9fc;
   padding: 0px;
   vertical-align: middle;
}

.innerHeader{
    font-size: 20;
    text-align: left;
    font-family: Georgia, serif;
    vertical-align: middle;
    padding: 6px;
  }
  .addButton{
        text-align: right;
    margin-top: 8px;
  }
 .dataContainerHeader {
   --box-shadow: black 0px 0px 2px;
    height: 7%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

.createForm td {
   text-align: left;
   border: 0px solid rgba(154, 159, 165, 1);
   padding: 13px;
}

.footerStyle{
    background-color:#2e353d;
    text-align: center;
    color: #E6C01E;
    
}
.footerStyle span{
    margin-top: 10px;
}


